@font-face {
  font-family: "FA B";
  src: url("../assets/front/fonts/fa-brands-400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FA R";
  src: url("../assets/front/fonts/fa-regular-400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FA S";
  src: url("../assets/front/fonts/fa-solid-900.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../assets/front/fonts/Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../assets/front/fonts/Poppins-Bold.eot@") format("embedded-opentype"), url("../assets/front/fonts/Poppins-Bold.woff2") format("woff2"), url("../assets/front/fonts/Poppins-Bold.woff") format("woff"), url("../assets/front/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../assets/front/fonts/Poppins-Light.eot");
  src: local("Poppins Light"), local("Poppins-Light"), url("../assets/front/fonts/Poppins-Light.eot@") format("embedded-opentype"), url("../assets/front/fonts/Poppins-Light.woff2") format("woff2"), url("../assets/front/fonts/Poppins-Light.woff") format("woff"), url("../assets/front/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../assets/front/fonts/Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../assets/front/fonts/Poppins-SemiBold.eot@") format("embedded-opentype"), url("../assets/front/fonts/Poppins-SemiBold.woff2") format("woff2"), url("../assets/front/fonts/Poppins-SemiBold.woff") format("woff"), url("../assets/front/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../assets/front/fonts/Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../assets/front/fonts/Poppins-Medium.eot@") format("embedded-opentype"), url("../assets/front/fonts/Poppins-Medium.woff2") format("woff2"), url("../assets/front/fonts/Poppins-Medium.woff") format("woff"), url("../assets/front/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../assets/front/fonts/Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../assets/front/fonts/Poppins-Regular.eot@") format("embedded-opentype"), url("../assets/front/fonts/Poppins-Regular.woff2") format("woff2"), url("../assets/front/fonts/Poppins-Regular.woff") format("woff"), url("../assets/front/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../assets/front/fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("../assets/front/fonts/Roboto-Light.eot@") format("embedded-opentype"), url("../assets/front/fonts/Roboto-Light.woff2") format("woff2"), url("../assets/front/fonts/Roboto-Light.woff") format("woff"), url("../assets/front/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../assets/front/fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../assets/front/fonts/Roboto-Regular.eot@") format("embedded-opentype"), url("../assets/front/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/front/fonts/Roboto-Regular.woff") format("woff"), url("../assets/front/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background: -webkit-gradient(linear, left top, right top, color-stop(23%, #2f3640), to(#181b20));
  background: -o-linear-gradient(left, #2f3640 23%, #181b20 100%);
  background: linear-gradient(90deg, #2f3640 23%, #181b20 100%);
  background-size: contain;
  overflow: hidden; }

.moon {
  background: -webkit-gradient(linear, left top, right top, color-stop(48%, #d0d0d0), to(#919191));
  background: -o-linear-gradient(left, #d0d0d0 48%, #919191 100%);
  background: linear-gradient(90deg, #d0d0d0 48%, #919191 100%);
  position: absolute;
  top: -100px;
  left: -300px;
  width: 900px;
  height: 900px;
  content: '';
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.5); }

.moon__crater {
  position: absolute;
  content: '';
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(38%, #7a7a7a), to(#c3c3c3));
  background: -o-linear-gradient(left, #7a7a7a 38%, #c3c3c3 100%);
  background: linear-gradient(90deg, #7a7a7a 38%, #c3c3c3 100%);
  opacity: 0.6; }

.moon__crater1 {
  top: 250px;
  left: 500px;
  width: 60px;
  height: 180px; }

.moon__crater2 {
  top: 650px;
  left: 340px;
  width: 40px;
  height: 80px;
  -webkit-transform: rotate(55deg);
      -ms-transform: rotate(55deg);
          transform: rotate(55deg); }

.moon__crater3 {
  top: -20px;
  left: 40px;
  width: 65px;
  height: 120px;
  -webkit-transform: rotate(250deg);
      -ms-transform: rotate(250deg);
          transform: rotate(250deg); }

.star {
  background: grey;
  position: absolute;
  width: 5px;
  height: 5px;
  content: '';
  border-radius: 100%;
  -webkit-transform: rotate(250deg);
      -ms-transform: rotate(250deg);
          transform: rotate(250deg);
  opacity: 0.4;
  -webkit-animation-name: shimmer;
          animation-name: shimmer;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }

@-webkit-keyframes shimmer {
  from {
    opacity: 0; }
  to {
    opacity: 0.7; } }

@keyframes shimmer {
  from {
    opacity: 0; }
  to {
    opacity: 0.7; } }

.star1 {
  top: 40%;
  left: 50%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.star2 {
  top: 60%;
  left: 90%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.star3 {
  top: 10%;
  left: 70%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.star4 {
  top: 90%;
  left: 40%; }

.star5 {
  top: 20%;
  left: 30%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.error {
  position: absolute;
  left: 100px;
  top: 400px;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  font-family: 'Righteous', cursive;
  color: #363e49; }
  .error > div:nth-child(3) {
    margin-bottom: 20px; }
  .error a:hover {
    text-decoration: none; }

.error__title {
  font-size: 10em; }

.error__subtitle {
  font-size: 2em; }

.error__description {
  opacity: 0.5; }

.error__button {
  min-width: 7em;
  margin-top: 3em;
  margin-right: 0.5em;
  padding: 0.5em 2em;
  outline: none;
  border: 2px solid #2f3640;
  background-color: transparent;
  border-radius: 8em;
  color: #576375;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-size: 0.75em;
  font-family: 'Righteous', cursive; }

.error__button:hover {
  color: #21252c; }

.error__button--active {
  background-color: #e67e22;
  border: 2px solid #e67e22;
  color: white; }

.error__button--active:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  color: white; }

.astronaut {
  position: absolute;
  width: 185px;
  height: 300px;
  left: 70%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(20deg) scale(1.2);
      -ms-transform: translate(-50%, -50%) rotate(20deg) scale(1.2);
          transform: translate(-50%, -50%) rotate(20deg) scale(1.2); }

.astronaut__head {
  background-color: white;
  position: absolute;
  top: 60px;
  left: 60px;
  width: 60px;
  height: 60px;
  content: '';
  border-radius: 2em; }

.astronaut__head-visor-flare1 {
  background-color: #7f8fa6;
  position: absolute;
  top: 28px;
  left: 40px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 2em;
  opacity: 0.5; }

.astronaut__head-visor-flare2 {
  background-color: #718093;
  position: absolute;
  top: 40px;
  left: 38px;
  width: 5px;
  height: 5px;
  content: '';
  border-radius: 2em;
  opacity: 0.3; }

.astronaut__backpack {
  background-color: #bfbfbf;
  position: absolute;
  top: 90px;
  left: 47px;
  width: 86px;
  height: 90px;
  content: '';
  border-radius: 8px; }

.astronaut__body {
  background-color: #e6e6e6;
  position: absolute;
  top: 115px;
  left: 55px;
  width: 70px;
  height: 80px;
  content: '';
  border-radius: 8px; }

.astronaut__body__chest {
  background-color: #d9d9d9;
  position: absolute;
  top: 140px;
  left: 68px;
  width: 45px;
  height: 25px;
  content: '';
  border-radius: 6px; }

.astronaut__arm-left1 {
  background-color: #e6e6e6;
  position: absolute;
  top: 127px;
  left: 9px;
  width: 65px;
  height: 20px;
  content: '';
  border-radius: 8px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg); }

.astronaut__arm-left2 {
  background-color: #e6e6e6;
  position: absolute;
  top: 102px;
  left: 7px;
  width: 20px;
  height: 45px;
  content: '';
  border-radius: 8px;
  -webkit-transform: rotate(-12deg);
      -ms-transform: rotate(-12deg);
          transform: rotate(-12deg);
  border-top-left-radius: 8em;
  border-top-right-radius: 8em; }

.astronaut__arm-right1 {
  background-color: #e6e6e6;
  position: absolute;
  top: 113px;
  left: 100px;
  width: 65px;
  height: 20px;
  content: '';
  border-radius: 8px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg); }

.astronaut__arm-right2 {
  background-color: #e6e6e6;
  position: absolute;
  top: 78px;
  left: 141px;
  width: 20px;
  height: 45px;
  content: '';
  border-radius: 8px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  border-top-left-radius: 8em;
  border-top-right-radius: 8em; }

.astronaut__arm-thumb-left {
  background-color: #e6e6e6;
  position: absolute;
  top: 110px;
  left: 21px;
  width: 10px;
  height: 6px;
  content: '';
  border-radius: 8em;
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg); }

.astronaut__arm-thumb-right {
  background-color: #e6e6e6;
  position: absolute;
  top: 90px;
  left: 133px;
  width: 10px;
  height: 6px;
  content: '';
  border-radius: 8em;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg); }

.astronaut__wrist-left {
  background-color: #e67e22;
  position: absolute;
  top: 122px;
  left: 6.5px;
  width: 21px;
  height: 4px;
  content: '';
  border-radius: 8em;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg); }

.astronaut__wrist-right {
  background-color: #e67e22;
  position: absolute;
  top: 98px;
  left: 141px;
  width: 21px;
  height: 4px;
  content: '';
  border-radius: 8em;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg); }

.astronaut__leg-left {
  background-color: #e6e6e6;
  position: absolute;
  top: 188px;
  left: 50px;
  width: 23px;
  height: 75px;
  content: '';
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg); }

.astronaut__leg-right {
  background-color: #e6e6e6;
  position: absolute;
  top: 188px;
  left: 108px;
  width: 23px;
  height: 75px;
  content: '';
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg); }

.astronaut__foot-left {
  background-color: white;
  position: absolute;
  top: 240px;
  left: 43px;
  width: 28px;
  height: 20px;
  content: '';
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
  border-radius: 3px;
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
  border-bottom: 4px solid #e67e22; }

.astronaut__foot-right {
  background-color: white;
  position: absolute;
  top: 240px;
  left: 111px;
  width: 28px;
  height: 20px;
  content: '';
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  border-radius: 3px;
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
  border-bottom: 4px solid #e67e22; }
