@font-face {
  font-family: "FA B";
  src: url("../assets/front/fonts/fa-brands-400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FA R";
  src: url("../assets/front/fonts/fa-regular-400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FA S";
  src: url("../assets/front/fonts/fa-solid-900.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../assets/front/fonts/Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../assets/front/fonts/Poppins-Bold.eot@") format("embedded-opentype"), url("../assets/front/fonts/Poppins-Bold.woff2") format("woff2"), url("../assets/front/fonts/Poppins-Bold.woff") format("woff"), url("../assets/front/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../assets/front/fonts/Poppins-Light.eot");
  src: local("Poppins Light"), local("Poppins-Light"), url("../assets/front/fonts/Poppins-Light.eot@") format("embedded-opentype"), url("../assets/front/fonts/Poppins-Light.woff2") format("woff2"), url("../assets/front/fonts/Poppins-Light.woff") format("woff"), url("../assets/front/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../assets/front/fonts/Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../assets/front/fonts/Poppins-SemiBold.eot@") format("embedded-opentype"), url("../assets/front/fonts/Poppins-SemiBold.woff2") format("woff2"), url("../assets/front/fonts/Poppins-SemiBold.woff") format("woff"), url("../assets/front/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../assets/front/fonts/Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../assets/front/fonts/Poppins-Medium.eot@") format("embedded-opentype"), url("../assets/front/fonts/Poppins-Medium.woff2") format("woff2"), url("../assets/front/fonts/Poppins-Medium.woff") format("woff"), url("../assets/front/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../assets/front/fonts/Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../assets/front/fonts/Poppins-Regular.eot@") format("embedded-opentype"), url("../assets/front/fonts/Poppins-Regular.woff2") format("woff2"), url("../assets/front/fonts/Poppins-Regular.woff") format("woff"), url("../assets/front/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../assets/front/fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("../assets/front/fonts/Roboto-Light.eot@") format("embedded-opentype"), url("../assets/front/fonts/Roboto-Light.woff2") format("woff2"), url("../assets/front/fonts/Roboto-Light.woff") format("woff"), url("../assets/front/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../assets/front/fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../assets/front/fonts/Roboto-Regular.eot@") format("embedded-opentype"), url("../assets/front/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/front/fonts/Roboto-Regular.woff") format("woff"), url("../assets/front/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#toTopButton {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  bottom: 20px;
  left: 30px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: rgba(43, 137, 214, 0.7);
  z-index: 99999999;
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s; }
  #toTopButton:hover {
    background-color: #2b89d6; }
  #toTopButton:focus {
    background-color: #2b89d6; }
  #toTopButton:active {
    padding: 0;
    background: rgba(43, 137, 214, 0.7); }

.slicknav_menu {
  display: none !important;
  width: inherit !important; }

.boxed-btn {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 25px;
  text-transform: uppercase;
  margin-top: 10px;
  background-color: #558AF2;
  color: #fff;
  -webkit-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in; }
  .boxed-btn:hover {
    color: #fff;
    background-color: #404550; }

input[type=text],
input[type=email],
input[type=password],
textarea {
  max-width: 468px;
  width: 100%;
  display: block;
  padding: 12px 14px;
  border-radius: 4px !important;
  border: 1px solid rgba(34, 46, 58, 0.2) !important;
  background: #FFF;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  textarea:focus {
    border-color: rgba(22, 140, 217, 0.5) !important; }
  input[type=text]:hover,
  input[type=email]:hover,
  input[type=password]:hover,
  textarea:hover {
    border: 1px solid #168cd9 !important; }

button:hover {
  cursor: pointer; }

button[type="submit"] {
  padding: 12px 20px;
  border-radius: 4px !important;
  border: 1px solid rgba(34, 46, 58, 0.2) !important;
  background: #FFF;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  button[type="submit"]:hover {
    border: 1px solid rgba(22, 140, 217, 0.5) !important; }

textarea {
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 150px;
  height: auto;
  border-radius: 5px; }
  textarea:focus {
    outline: none; }

h1, h2, h3, h4, h5, h6 {
  color: #2da4d9 !important; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "Poppins", 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  color: #404550;
  overflow-x: hidden; }

p {
  color: #343a40;
  font-weight: 300;
  line-height: 1.625; }

a {
  text-decoration: none;
  outline: none;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    outline: none; }
  a:focus {
    text-decoration: none;
    outline: none; }
  a:active {
    text-decoration: none;
    outline: none; }
  a i {
    padding: 0 2px; }

img {
  max-width: 100%; }

input[type="text"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

input[type="email"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

input[type="url"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

input[type="password"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

input[type="search"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

input[type="tel"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

input[type="number"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

input[type="button"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

input[type="reset"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

input[type="submit"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

button {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }
  button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.navbar-area {
  height: 80px;
  padding-top: 5px;
  background-color: #404550; }
  .navbar-area .logo {
    display: block;
    max-width: 200px;
    width: 60px !important;
    height: 60px !important;
    margin-top: 10px; }
  .navbar-area ul {
    padding-top: 5px; }
    .navbar-area ul li {
      display: inline-block;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
      border-radius: 25px; }
      .navbar-area ul li:hover a {
        background-color: #558AF2;
        -webkit-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in; }
      .navbar-area ul li a {
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 25px; }
    .navbar-area ul li.active {
      background-color: #558AF2; }

.about-us {
  padding: 120px 0; }
  .about-us .about-img {
    position: relative; }
    .about-us .about-img:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(51, 51, 102, 0.9);
      content: ''; }
    .about-us .about-img .hover {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #558AF2;
      z-index: 1;
      text-align: center;
      line-height: 80px;
      font-size: 25px;
      -webkit-box-shadow: 0 0 5px #558AF2;
      box-shadow: 0 0 5px #558AF2;
      cursor: pointer;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .about-us .about-img .hover i {
        color: #fff; }
  .about-us .content h2 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px; }
    .about-us .content h2 span {
      color: #558AF2; }

.our-team-area {
  padding-top: 107px;
  padding-bottom: 120px;
  background-color: #404550; }
  .our-team-area .section-title h2 {
    color: #fff; }
  .our-team-area .section-title p {
    color: #fff; }
  .our-team-area .single-team-member:hover .team_img .hover {
    visibility: visible;
    opacity: 1;
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }
  .our-team-area .single-team-member .team-content {
    background-color: #558AF2;
    text-align: center;
    padding: 26px 0;
    padding-bottom: 24px; }
    .our-team-area .single-team-member .team-content h4 {
      text-transform: uppercase;
      margin-bottom: 10px;
      color: #fff; }
    .our-team-area .single-team-member .team-content span {
      color: #fff; }
  .our-team-area .single-team-member .team_img {
    position: relative; }
    .our-team-area .single-team-member .team_img .hover {
      position: absolute;
      right: 0px;
      top: 0;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
      transition: 0.5s ease-in; }
      .our-team-area .single-team-member .team_img .hover .social {
        padding: 20px 10px;
        background-color: #558AF2;
        text-align: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px; }
        .our-team-area .single-team-member .team_img .hover .social li {
          display: block;
          padding: 5px 0; }
          .our-team-area .single-team-member .team_img .hover .social li:hover a {
            color: #404550; }
          .our-team-area .single-team-member .team_img .hover .social li a {
            color: #fff;
            -webkit-transition: 0.5s ease-in;
            -o-transition: 0.5s ease-in;
            transition: 0.5s ease-in; }

.testimonial-area {
  padding-top: 107px;
  padding-bottom: 167px; }
  .testimonial-area .testimonial-carousel .single-testimonial-carousel {
    border: 1px solid rgba(101, 99, 99, 0.1);
    -webkit-box-shadow: inset 0 0 5px rgba(101, 99, 99, 0.1);
    box-shadow: inset 0 0 5px rgba(101, 99, 99, 0.1);
    border-radius: 25px;
    padding: 20px; }
    .testimonial-area .testimonial-carousel .single-testimonial-carousel .author-details {
      position: relative; }
      .testimonial-area .testimonial-carousel .single-testimonial-carousel .author-details:after {
        position: absolute;
        right: 20px;
        top: 0;
        font-size: 40px;
        content: "\f10e";
        font-family: 'FontAwesome';
        color: #404550;
        opacity: .2; }
      .testimonial-area .testimonial-carousel .single-testimonial-carousel .author-details .autor-name {
        padding-left: 90px; }
        .testimonial-area .testimonial-carousel .single-testimonial-carousel .author-details .autor-name h4 {
          text-transform: uppercase;
          margin-bottom: 10px; }
        .testimonial-area .testimonial-carousel .single-testimonial-carousel .author-details .autor-name span {
          opacity: .6; }
      .testimonial-area .testimonial-carousel .single-testimonial-carousel .author-details .thumbnai {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0; }
        .testimonial-area .testimonial-carousel .single-testimonial-carousel .author-details .thumbnai img {
          border-radius: 50%;
          border: 2px solid #558AF2; }
  .testimonial-area .owl-dots {
    text-align: center;
    margin-top: 25px;
    position: absolute;
    left: 50%;
    bottom: -55px;
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%); }
    .testimonial-area .owl-dots div.active {
      background: #558AF2;
      border-color: #558AF2; }
    .testimonial-area .owl-dots div {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #fff;
      border: 2px solid #404550;
      display: inline-block;
      margin: 2px; }

.blog-section {
  padding-top: 107px;
  padding-bottom: 120px;
  background-color: #E6E6E9; }
  .blog-section .single-blog-post {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 13px rgba(101, 99, 99, 0.7);
    box-shadow: 0 0 13px rgba(101, 99, 99, 0.7); }
    .blog-section .single-blog-post .boxed-btn {
      padding: 10px 25px;
      background-color: #F0F3F6;
      color: #404550;
      font-weight: 600;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
      transition: 0.5s ease-in; }
      .blog-section .single-blog-post .boxed-btn:hover {
        background-color: #558AF2;
        color: #fff; }
    .blog-section .single-blog-post .thumb {
      position: relative; }
      .blog-section .single-blog-post .thumb img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 3px solid #558AF2; }
      .blog-section .single-blog-post .thumb .hover {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #558AF2;
        width: 60px;
        height: 65px;
        text-align: center;
        border-top-right-radius: 10px; }
        .blog-section .single-blog-post .thumb .hover span {
          font-size: 25px;
          font-weight: 600;
          color: #fff;
          margin-bottom: 0;
          display: block; }
          .blog-section .single-blog-post .thumb .hover span:last-child {
            font-size: 16px; }
    .blog-section .single-blog-post .content {
      padding: 30px;
      background-color: #fff;
      padding-top: 23px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .blog-section .single-blog-post .content h4 {
        text-transform: uppercase;
        margin-bottom: 10px; }
      .blog-section .single-blog-post .content .post-meta {
        padding-bottom: 20px; }
        .blog-section .single-blog-post .content .post-meta li {
          display: inline-block;
          padding-right: 10px;
          color: #404550;
          opacity: .6; }
          .blog-section .single-blog-post .content .post-meta li a:hover {
            color: #404550; }

.contact-section {
  width: 100%;
  z-index: 1;
  padding-top: 120px;
  padding-bottom: 143px;
  min-height: 900px;
  background: #000; }
  .contact-section .contact-form-wrapper {
    border-radius: 15px;
    position: relative;
    padding: 60px;
    background-color: rgba(240, 243, 246, 0.7); }
    .contact-section .contact-form-wrapper h2 {
      margin-bottom: 45px; }
      .contact-section .contact-form-wrapper h2 span {
        color: #558AF2; }
    .contact-section .contact-form-wrapper input {
      border-radius: 25px;
      background-color: rgba(240, 243, 246, 0.7);
      border: 1px solid #558AF2; }
    .contact-section .contact-form-wrapper textarea {
      border-radius: 25px;
      background-color: rgba(240, 243, 246, 0.7);
      border: 1px solid #558AF2; }
    .contact-section .contact-form-wrapper input[type=submit] {
      position: absolute;
      left: 50%;
      bottom: -23px;
      background-color: #558AF2;
      width: 150px;
      -ms-transform: translate(-50%);
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      cursor: pointer; }
      .contact-section .contact-form-wrapper input[type=submit]:hover {
        background-color: #404550;
        border-color: #404550; }

.contact-section.contact-bg {
  background-color: #ddd;
  background-position: center;
  background-size: cover; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99;
  display: table; }

.preloader-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.preloader-img {
  position: relative;
  display: inline-block;
  padding: 20px;
  border-radius: 50%; }
  .preloader-img:before {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 50%;
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite; }
  .preloader-img img {
    -webkit-animation: rotatingTWo 2s linear infinite;
    animation: rotatingTWo 2s linear infinite; }

.blog-page-area {
  padding-top: 120px;
  padding-bottom: 120px; }
  .blog-page-area .single-blog-post {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 13px rgba(101, 99, 99, 0.7);
    box-shadow: 0 0 13px rgba(101, 99, 99, 0.7);
    margin-bottom: 30px; }
    .blog-page-area .single-blog-post .boxed-btn {
      padding: 10px 25px;
      background-color: #F0F3F6;
      color: #404550;
      font-weight: 600;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
      transition: 0.5s ease-in; }
      .blog-page-area .single-blog-post .boxed-btn:hover {
        background-color: #558AF2;
        color: #fff; }
    .blog-page-area .single-blog-post .thumb {
      position: relative; }
      .blog-page-area .single-blog-post .thumb img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 3px solid #558AF2; }
      .blog-page-area .single-blog-post .thumb .hover {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #558AF2;
        width: 60px;
        height: 65px;
        text-align: center;
        border-top-right-radius: 10px; }
        .blog-page-area .single-blog-post .thumb .hover span {
          font-size: 25px;
          font-weight: 600;
          color: #fff;
          margin-bottom: 0;
          display: block; }
          .blog-page-area .single-blog-post .thumb .hover span:last-child {
            font-size: 16px; }
    .blog-page-area .single-blog-post .content {
      padding: 30px;
      background-color: #fff;
      padding-top: 23px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .blog-page-area .single-blog-post .content h4 {
        text-transform: uppercase;
        margin-bottom: 10px; }
      .blog-page-area .single-blog-post .content .post-meta {
        padding-bottom: 20px; }
        .blog-page-area .single-blog-post .content .post-meta li {
          display: inline-block;
          padding-right: 10px;
          color: #404550;
          opacity: .6; }
          .blog-page-area .single-blog-post .content .post-meta li a:hover {
            color: #404550; }
  .blog-page-area .page-navigation {
    margin-top: 30px; }
    .blog-page-area .page-navigation li {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-weight: 600;
      border: 1px solid #ddd;
      margin-left: -5px;
      cursor: pointer;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
      transition: 0.5s ease-in; }
      .blog-page-area .page-navigation li:first-child {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px; }
      .blog-page-area .page-navigation li:last-child {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-right-radius: 25px; }
      .blog-page-area .page-navigation li a {
        color: #404550;
        -webkit-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in; }
      .blog-page-area .page-navigation li:hover {
        background-color: #558AF2;
        background-color: #558AF2; }
        .blog-page-area .page-navigation li:hover a {
          color: #fff; }
    .blog-page-area .page-navigation li.active {
      background-color: #558AF2; }
      .blog-page-area .page-navigation li.active a {
        color: #fff; }

.sidebar {
  padding-bottom: 90px; }
  .sidebar .widget {
    border: 1px solid #f1f1f1;
    margin-bottom: 30px; }
    .sidebar .widget .widget-title {
      background-color: #404550;
      padding: 20px; }
      .sidebar .widget .widget-title h4 {
        margin-bottom: 0;
        text-transform: uppercase;
        color: #fff; }
    .sidebar .widget .widget-body {
      padding: 20px;
      padding-top: 30px;
      padding-bottom: 30px; }
      .sidebar .widget .widget-body li {
        padding: 10px 0;
        border-top: 1px solid #f1f1f1;
        -webkit-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in; }
        .sidebar .widget .widget-body li:last-child {
          border-bottom: 1px solid #f1f1f1; }
        .sidebar .widget .widget-body li a {
          -webkit-transition: 0.5s ease-in;
          -o-transition: 0.5s ease-in;
          transition: 0.5s ease-in; }
        .sidebar .widget .widget-body li i {
          padding-right: 10px;
          -webkit-transition: 0.5s ease-in;
          -o-transition: 0.5s ease-in;
          transition: 0.5s ease-in; }
        .sidebar .widget .widget-body li:hover {
          background-color: #558AF2;
          margin-left: 10px; }
          .sidebar .widget .widget-body li:hover a {
            color: #fff; }
          .sidebar .widget .widget-body li:hover i {
            color: #fff; }
  .sidebar .widget.category .widget-body li span {
    float: right;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #ddd;
    line-height: 20px;
    border-radius: 50%;
    color: #404550;
    margin-right: 10px; }
  .sidebar .widget.search .widget-body input {
    border: 1px solid #ddd;
    border-right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; }
    .sidebar .widget.search .widget-body input:focus {
      outline: none;
      border: 1px solid #ddd;
      -webkit-box-shadow: 0 0 0px #fff;
      box-shadow: 0 0 0px #fff; }
  .sidebar .widget.search .widget-body button[type=submit] {
    padding: 10px 15px;
    background-color: #558AF2;
    border: 1px solid transparent;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    padding-top: 12px; }
    .sidebar .widget.search .widget-body button[type=submit]:hover {
      background-color: #404550; }
    .sidebar .widget.search .widget-body button[type=submit] i {
      padding-top: 5px;
      font-size: 23px;
      line-height: 100%; }
  .sidebar .widget.popular-post .widget-body {
    padding-bottom: 24px; }
    .sidebar .widget.popular-post .widget-body li {
      border: none;
      padding: 0;
      padding-bottom: 6px; }
      .sidebar .widget.popular-post .widget-body li:hover {
        background-color: transparent;
        margin-left: 0; }
        .sidebar .widget.popular-post .widget-body li:hover h5 {
          color: #558AF2; }
      .sidebar .widget.popular-post .widget-body li h5 {
        cursor: pointer;
        -webkit-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in;
        text-transform: uppercase; }
      .sidebar .widget.popular-post .widget-body li:last-child {
        border: none; }
  .sidebar .widget.tags .widget-body {
    padding-top: 25px;
    padding-bottom: 25px; }
    .sidebar .widget.tags .widget-body li {
      display: inline-block;
      border: none;
      padding: 10px;
      margin: 5px;
      background-color: #558AF2;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
      transition: 0.5s ease-in; }
      .sidebar .widget.tags .widget-body li:hover {
        background-color: #404550; }
      .sidebar .widget.tags .widget-body li:last-child {
        border: none; }
      .sidebar .widget.tags .widget-body li a {
        color: #fff;
        text-transform: uppercase; }

.blog-single-page .content {
  padding-bottom: 31px;
  padding-right: 20px; }
  .blog-single-page .content h4 {
    margin-top: 24px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .blog-single-page .content .post-meta {
    padding-bottom: 17px; }
    .blog-single-page .content .post-meta li {
      display: inline-block;
      padding-right: 10px; }
      .blog-single-page .content .post-meta li a {
        text-transform: uppercase;
        color: #558AF2; }
      .blog-single-page .content .post-meta li i {
        color: #ccc; }
  .blog-single-page .content .blockquote {
    border-left: 3px solid #558AF2;
    padding-left: 20px;
    font-style: italic;
    color: #ccc; }
    .blog-single-page .content .blockquote .blockquote-footer {
      padding-top: 22px; }

.blog-single-page .social-share {
  padding: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 48px; }
  .blog-single-page .social-share h4 {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0; }
  .blog-single-page .social-share ul {
    display: inline-block; }
    .blog-single-page .social-share ul li {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #558AF2;
      text-align: center;
      border-radius: 50%;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
      margin-left: 10px; }
      .blog-single-page .social-share ul li:hover {
        opacity: .7; }
      .blog-single-page .social-share ul li:first-child {
        background-color: #3b5999; }
      .blog-single-page .social-share ul li:nth-child(2) {
        background-color: #55acee; }
      .blog-single-page .social-share ul li:nth-child(3) {
        background-color: #dd4b39; }
      .blog-single-page .social-share ul li:nth-child(4) {
        background-color: #0077B5; }
      .blog-single-page .social-share ul li:last-child {
        background-color: #bd081c; }
      .blog-single-page .social-share ul li a {
        color: #fff; }

.comments-section h2 {
  margin-top: 0;
  text-transform: uppercase; }

.comments-section .single-comment-item h5 {
  margin-bottom: 10px; }
  .comments-section .single-comment-item h5 a {
    border: 1px solid #ddd;
    font-weight: 400;
    padding: 5px 10px;
    text-transform: capitalize;
    border-radius: 5px; }

.comments-section .single-comment-item .comment-time {
  display: block;
  font-size: 14px; }
  .comments-section .single-comment-item .comment-time i {
    color: #ccc; }

.comments-section .single-comment-item p {
  padding-top: 18px; }

.comment-form {
  padding-top: 20px; }
  .comment-form h2 {
    text-transform: uppercase; }
  .comment-form input {
    border: 1px solid #ddd; }
  .comment-form textarea {
    border: 1px solid #ddd; }
  .comment-form input[type=submit] {
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 150px;
    text-transform: uppercase;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in; }
    .comment-form input[type=submit]:hover {
      background-color: #404550; }

.header-area {
  padding: 100px 0;
  position: relative;
  z-index: 1; }
  .header-area .header-right-content #clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px; }
    .header-area .header-right-content #clockdiv > div {
      padding: 10px;
      border-radius: 3px;
      background: #558AF2;
      display: inline-block; }
    .header-area .header-right-content #clockdiv div > span {
      padding: 15px;
      border-radius: 3px;
      background: rgba(64, 69, 80, 0.9);
      display: inline-block; }
  .header-area .header-right-content .smalltext {
    padding-top: 5px;
    font-size: 16px; }

.header-right-content {
  background: rgba(64, 69, 80, 0.9);
  padding: 20px;
  border-left: 4px solid #558AF2;
  color: #fff !important; }
  .header-right-content h1 {
    background: transparent;
    border: none; }

.whitecolor {
  color: #fff; }

.table-dark {
  background-color: #404550; }

.road-2-map {
  position: relative;
  z-index: 1;
  padding-top: 108px;
  padding-bottom: 110px; }
  .road-2-map:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    z-index: -1; }
  .road-2-map .section-title h2 {
    color: #2da4d9; }
  .road-2-map .section-title p {
    color: #fff; }

.road-2-map.road-map-bg {
  background-size: cover;
  background-position: center; }

.boxed-btn.white.animated-btn {
  position: relative;
  z-index: 1; }
  .boxed-btn.white.animated-btn:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #336699;
    -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
            animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite; }

.header-right-content.full-border {
  border: 4px solid #f00;
  border-radius: 5px; }

.progress {
  background-color: #ddd;
  -webkit-box-shadow: none;
          box-shadow: none; }

/* MOD */
.mb-30 {
  margin-bottom: 30px; }

.mb-100 {
  margin-bottom: 100px; }

.top-200 {
  padding-top: 200px !important; }

.top-300 {
  padding-top: 300px !important; }

.top-400 {
  padding-top: 400px !important; }

.site-header {
  position: fixed;
  width: 100%;
  min-height: 100px;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  background: -webkit-linear-gradient(top, rgba(50, 94, 125, 0.4), rgba(6, 114, 127, 0.4)), url("../assets/front/images/bg/telegram-coin.jpg");
  overflow: hidden;
  z-index: 9999999999; }
  .site-header:before {
    position: absolute;
    content: '';
    width: 875px;
    height: 400%;
    bottom: -100%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: rgba(255, 255, 255, 0.1);
    left: 50%;
    margin-left: -130px; }
  .site-header:after {
    position: absolute;
    content: '';
    width: 1575px;
    height: 350%;
    bottom: -100%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: rgba(255, 255, 255, 0.1);
    right: 50%;
    margin-right: -110px; }
  .site-header .navbar {
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15); }
  .site-header .navbar-nav > li > a {
    color: #ffffff; }
  .site-header .navbar-brand {
    height: auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    z-index: 6; }
    .site-header .navbar-brand img {
      width: auto;
      max-width: 100%;
      max-height: 60px; }
  .site-header .btn {
    margin-top: -10px !important;
    margin-left: 20px;
    padding: 15px 25px !important;
    color: #168cd9 !important;
    background-color: #fff !important; }

.site-header.has-fixed {
  height: 60px !important; }
  .site-header.has-fixed .navbar {
    background: #e5f0ff;
    border-bottom-color: rgba(0, 0, 0, 0.04); }

.section-title, .section-title-s8 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  color: #2da4d9 !important; }

.section-title-s8 {
  margin-bottom: 30px; }

.footer-salvia {
  width: 100%;
  height: auto;
  background-color: rgba(22, 140, 217, 0.8);
  overflow: hidden;
  z-index: 9999999999; }
  .footer-salvia h1, .footer-salvia h2, .footer-salvia h3, .footer-salvia h4, .footer-salvia h5, .footer-salvia h6 {
    color: white !important; }
  .footer-salvia .btn {
    color: #168cd9;
    background-color: #fff; }

.footer-bottom {
  margin-top: 30px;
  z-index: 999999999999 !important; }

.footer-list {
  margin: 0 -15px; }
  .footer-list:last-child {
    margin-top: 120px;
    margin-bottom: -70px; }
  .footer-list > li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 400;
    padding: 0 15px;
    color: #f7fdff; }
    .footer-list > li a {
      font-weight: 300;
      letter-spacing: 1px;
      color: #f7fdff;
      text-decoration: underline; }
      .footer-list > li a:hover {
        text-decoration: none; }

.btn {
  margin-top: -50px;
  padding: 15px 25px !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  border-radius: 50px !important; }

@media screen and (min-width: 1600px) {
  .section-pad {
    padding-top: 180px;
    padding-bottom: 180px; }
  .section-pad-xs {
    padding-top: 20px;
    padding-bottom: 20px; }
  .section-pad-sm {
    padding-top: 90px;
    padding-bottom: 90px; }
  .section-pad-md {
    padding-top: 120px;
    padding-bottom: 120px; }
  .section-pad-lg {
    padding-top: 240px;
    padding-bottom: 240px; }
  .section-pad.nopd {
    padding-top: 0;
    padding-bottom: 0; }
  .image-slice .imagebg {
    width: 42%; }
    .image-slice .imagebg + .imagebg {
      width: 58%;
      left: 42%; } }

.support-form * {
  margin: 15px 0; }

.single-faq ul {
  margin-left: 30px; }
  .single-faq ul li {
    list-style-type: disc; }

.d-button {
  width: 250px !important;
  border: 2px solid white !important;
  border-radius: 4px !important;
  background: transparent !important; }
  .d-button:hover {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }
    .d-button:hover .menu-link {
      color: white !important;
      text-shadow: none !important; }
