@font-face {
    font-family: "FA B";
    src: url("../assets/front/fonts/fa-brands-400.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FA R";
    src: url("../assets/front/fonts/fa-regular-400.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FA S";
    src: url("../assets/front/fonts/fa-solid-900.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/front/fonts/Poppins-Bold.eot");
    src: local("Poppins Bold"), local("Poppins-Bold"),
        url("../assets/front/fonts/Poppins-Bold.eot@")
            format("embedded-opentype"),
        url("../assets/front/fonts/Poppins-Bold.woff2") format("woff2"),
        url("../assets/front/fonts/Poppins-Bold.woff") format("woff"),
        url("../assets/front/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/front/fonts/Poppins-Light.eot");
    src: local("Poppins Light"), local("Poppins-Light"),
        url("../assets/front/fonts/Poppins-Light.eot@")
            format("embedded-opentype"),
        url("../assets/front/fonts/Poppins-Light.woff2") format("woff2"),
        url("../assets/front/fonts/Poppins-Light.woff") format("woff"),
        url("../assets/front/fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/front/fonts/Poppins-SemiBold.eot");
    src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
        url("../assets/front/fonts/Poppins-SemiBold.eot@")
            format("embedded-opentype"),
        url("../assets/front/fonts/Poppins-SemiBold.woff2") format("woff2"),
        url("../assets/front/fonts/Poppins-SemiBold.woff") format("woff"),
        url("../assets/front/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/front/fonts/Poppins-Medium.eot");
    src: local("Poppins Medium"), local("Poppins-Medium"),
        url("../assets/front/fonts/Poppins-Medium.eot@")
            format("embedded-opentype"),
        url("../assets/front/fonts/Poppins-Medium.woff2") format("woff2"),
        url("../assets/front/fonts/Poppins-Medium.woff") format("woff"),
        url("../assets/front/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/front/fonts/Poppins-Regular.eot");
    src: local("Poppins Regular"), local("Poppins-Regular"),
        url("../assets/front/fonts/Poppins-Regular.eot@")
            format("embedded-opentype"),
        url("../assets/front/fonts/Poppins-Regular.woff2") format("woff2"),
        url("../assets/front/fonts/Poppins-Regular.woff") format("woff"),
        url("../assets/front/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/front/fonts/Roboto-Light.eot");
    src: local("Roboto Light"), local("Roboto-Light"),
        url("../assets/front/fonts/Roboto-Light.eot@")
            format("embedded-opentype"),
        url("../assets/front/fonts/Roboto-Light.woff2") format("woff2"),
        url("../assets/front/fonts/Roboto-Light.woff") format("woff"),
        url("../assets/front/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/front/fonts/Roboto-Regular.eot");
    src: local("Roboto"), local("Roboto-Regular"),
        url("../assets/front/fonts/Roboto-Regular.eot@")
            format("embedded-opentype"),
        url("../assets/front/fonts/Roboto-Regular.woff2") format("woff2"),
        url("../assets/front/fonts/Roboto-Regular.woff") format("woff"),
        url("../assets/front/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
