body {
    margin: 0;
    font-family: 'Poppins';
    background-image: url('/assets/images/logo/bc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: 0.5;
}
a {
    color: #558AF2;
    text-decoration: none;
}
section {
    width: 100%;
    height: auto;
    min-height: 600px;
}
.navbar-area {
    width: 100%;
    height: 80px;
    background: transparent;
}
.container {
    width: 1100px;
    margin: auto;
}
.logo > img {
    width: 15%;
    height: auto;
    position: relative;
    top: 10px;
    left: 15px;
}
#main-menu{
    display: inline-block;
    position: relative;
    top: -60px;
    float: right;
    right: 30px;
    list-style-type: none;
}
#main-menu li {
    margin-right: 10px;
    display: inline-block;
    text-transform: uppercase;
}
#main-menu a {
    padding: 8px 25px;
    color: rgb(240, 240, 240);
    border-radius: 50px;
    transition: .5s;
}
#main-menu a:hover{
    color: rgb(0, 86, 179);
    background-color: rgb(240, 240, 240);
}

.contact-section {
    position: relative;
    z-index: 1;
    margin-top: 150px;
    text-align: center;
}
.contact-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f3f6;
    opacity: .30;
    z-index: -1;
}

.contact-section .contact-form-wrapper {
    border-radius: 5000px;
    position: relative;
    padding: 60px;
    background-color: rgba(240, 243, 246, 0.7);
}
h3 {
    font-size: 28pt;
}
h3:hover {
    cursor: default;
}
h4 > a {
    position: relative;
    top: -10px;
    color: rgb(0, 86, 179);
    font-size: 20pt;
    transition: .5s;
}
h4 > a:hover {
    color: rgb(64, 69, 80);
}





/*=========================
** Footer 
=========================*/
.footer-section {
    position: relative;
    background-color: #404550;
    padding: 20px 0;
}
.footer-section .copyright-text {
    margin-bottom: 0;
    color: #e6e6e9;
    cursor: default;
}
.footer-section .social-links li {
    display: inline-block;
    padding: 0 10px;
}
.footer-section .social-links li a {
    color: #fff;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.footer-section .social-links li a:hover {
    color: #558AF2;
}











@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.eot");
    src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.eot@") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }