$red: rgb(211, 60, 49);
$green:rgb(74, 160, 77);
$blue:rgb(43, 137, 214);
$lightBlue:rgb(146, 206, 255);
$orange:rgb(236, 151, 24);
$whith: rgb(255, 255, 255);
$darkGreen: rgb(46, 125, 50);
$lightGreen: rgb(156, 219, 159);
$black: rgb(38, 56, 69);
$lightBlack: rgb(85, 96, 104);

$redSep: rgb(246, 99, 89);
$greenSep:rgb(107, 189, 110);
$blueSep:rgb(71, 168, 245);
$orangeSep:rgb(255, 170, 44);


$whith5: rgba(255, 255, 255, .5);
$lightBlack5: rgba(85, 96, 104, .5);
$lightBlack2: rgba(85, 96, 104, .2);
$lightBlack1: rgba(85, 96, 104, .1);

$greenSep5:rgba(107, 189, 110, .5);
$greenSep8:rgba(107, 189, 110, .8);