@import '/assets/front/css/fonts.css';
@import 'colors.scss';
@charset "utf-8";
body, header {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(247, 247, 247);
}
header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 2;
}
* {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
ul, ol, li {
    margin: 0 !important;
    padding: 0 !important;
}
a {
    text-decoration: none;
}

.headerBG {
    width: 100%;
    height: 100%;
    background:rgb(43, 54, 67);

    .headerRightPanel {
        width: 220px;
        height: 60px;
        max-height: 60px;
        margin-right: 20px;
        padding: 10px;
        position: relative;
        float: right;
        text-align: right !important;

        p {
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
            line-height: 20px;
        }
        p:last-child {
            font-size: 12px;
            color: rgb(219, 219, 219);
        }
    }
    .logo{
        width: auto;
        height: 50px;
        margin: 5px 0 0 25px;
        position: absolute;
        z-index: 9;
    }
}


.sidebar {
    width: 220px;
    position: fixed;
    padding: 0;
    padding-top: 60px;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgb(55, 71, 79);
}
.nav {
    width: 100%;
    height: 150px;
    margin: 0;
    
}
.userData {
    color: #cfd8dc;
    background: url(/assets/user/img/profile_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.userData{
    p {
        position: relative;
        margin: 0;
        top: 100px;
        padding-left: 20px;
        color: #cfd8dc;

    }
    span {
        color: #cfd8dc;
    }
}
.userLogin {
    margin: 0;
    font-size: 14px;
    color: rgb(148, 149, 150);
}
.userPanel * {
    font-size: 14px;
    color: #cfd8dc;
    line-height: 30px;
}
.userPanel{
    text-transform: uppercase;
    color: rgb(47, 57, 61);
}
.userPanel li {
    padding-left: 30px !important;
}
.userPanel li:hover, .userPanel input:hover {
    cursor: pointer;
}

.formButton {
    padding: 5px 20px !important;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    &::before {
        content: '\f0ac';
        position: relative;
        top: 1px;
        margin: 0 10px 0 -10px;
        font-family: 'FA S', 'FA R', 'FA B';
        font-size: 18px;
        color: rgb(84, 110, 122);
        -moz-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    
    &:hover {
        background: rgba(111, 136, 150, .3);
    }
    &:hover * {
        color: rgb(255, 255, 255);
    }
    &:hover::before {
        color: rgb(255, 255, 255);
    }
    
}
.btn2::before {
    content: '\f3fd';
    left: -2px;
    margin-right: 7px;
}
.btn3::before {
    content: '\f007';
}
.btn4::before {
    content: '\f0c0';
    left: -4px;
    margin-right: 4px;
}
.btn5::before {
    content: '\f362';
    left: -2px;
}
.btn6::before {
    content: '\f0ca';
    left: -2px;
}
.btn7::before {
    content: '\f04b';
    left: -2px;
}
.btn8::before {
    content: '\f0ca';
    left: -2px;
    margin-right: 8px;
}
.btn9::before {
    content: '\f4fe';
    left: -2px;
    margin-right: 2px;
}
.btn10::before {
    content: '\f2f5';
    left: -2px;
    margin-right: 6px;
}
.btn6, .btn7 {
    display: none;
}
.btnPA {
    margin-top: 60px !important;
    background: rgb(61, 153, 228);

    & * {
        
        color: rgb(255, 255, 255);
    }

    &::before {
        content: '\f007';
        color: rgb(255, 255, 255);
    }

    &:hover {
        background: rgb(61, 153, 228);
    }
}
.btnAdminPanel {
    margin-top: 60px !important;
    background-color: rgb(244, 67, 54);

    & * {
        color: rgb(255, 255, 255);
    }
    
    &::before {
        content: '\f085';
        left: -5px;
        margin-right: 2px;
        color: rgb(255, 255, 255);
    }

    &:hover {
        background-color: rgb(244, 67, 54);
    }
}




.activeButton, .activeButton:hover {
    color: rgb(255, 255, 255);
    background: rgba(111, 136, 150, .8);

}
.activeButton a {
    color: rgb(255, 255, 255) !important;
}
.activeButton::before {
    color: rgb(255, 255, 255) !important;
}

/* SIDEBAR DROPDOWN */
.dropD {
    margin: 0;
    padding: 0;
    color: #cfd8dc;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
.dropDC {
    position: relative;
    margin-left: -30px !important;
    

    .dropContent {
        cursor: default;
        background: rgb(35, 46, 51);
    }

    .ml, .fc {
        width: 86% !important;
        height: auto;
        min-height: 30px;
        line-height: 25px;
        margin: auto !important;
        background: rgba(26, 34, 37, .8);

        button[name="ml_submit"]{
            width: 100%;
            margin: 0;
            padding: 5px 0;
            font-size: 12px;
            text-align: center;
            border: none;
            outline: none;
            border-radius: none;
            background: none;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -o-transition: .3s;
            transition: .3s;

            &:hover, &:focus, &[selected] {
                cursor: pointer;
                color: rgb(255, 255, 255);
                background: rgba(111, 136, 150, .2);
            }
            &[selected] {
                background: rgb(53, 184, 72);
            }
            &[selected]:focus {
                background: rgba(111, 136, 150, .2);
            }
        }
    }
    .fc {
        width: 100% !important;

        ul {

            li {
                padding: 5px 20px !important;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -o-transition: .5s;
                transition: .5s;

                &:hover, &:focus, &[selected] {
                    cursor: pointer;
                    color: rgb(255, 255, 255);
                    background: rgba(111, 136, 150, .2);
                }

                a { 
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        
    }
}



#content {
    position: relative;
    height: auto;
    min-height: 300px;
    top: 90px;
    margin-left: 250px;
    margin-right: 30px;
    overflow: hidden;
}

/*.goog-te-combo * {
    min-width: 50px !important;
    max-width: 80% !important;
}*/



/*--- CONTENT ---*/

input:hover, i:hover {
    cursor: pointer;
}
.hr {
    width: 100%;
    height: 1px;
    background: rgba(192, 196, 198, .4);
}

.dark {
    h2 {
        background: rgb(43, 54, 60) !important;  
    }
    .defButton {
        padding: 5px 15px;
        outline: none;
        color: rgb(87, 87, 87);
        border-radius: 3px;
        border: 1px solid rgba(161, 168, 172, 0.5);
        background: rgb(245, 245, 245);
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
        transition: .3s;

        &:hover {
            cursor: pointer;
            color: rgb(53, 53, 53);
            background: rgb(231, 231, 231);
        }
    }

}
.blue {
    h2 {
        background: rgb(33, 150, 243) !important;  
    }
}
.secondSection {
    margin-top: 20px !important;
}
.lastSection {
    margin-bottom: 20px;
}
.minWindth300 {
    min-width: 300px !important;
}
.minWindth350 {
    min-width: 350px !important;
}
.minWindth400 {
    min-width: 400px !important;
}
.minWindth450 {
    min-width: 450px !important;
}
.minWindth500 {
    min-width: 500px !important;
}
.minWindth650 {
    min-width: 650px !important;
}
.maxWidth1600 {
    max-width: 1600px !important;
}
.halfMainSection {
    width: 680px !important;
    max-width: 680px !important;
    min-width: 250px !important;
}
.halfMainSmallSection {
    width: 500px !important;
    max-width: 500px !important;
    min-width: 250px !important;
}
.inlineFlexContent > div {
    display: inline-flex;
}
.flexContent {
    display: flex;
    justify-content: space-around;
}
.inlineSection {
    display: inline-block;
    position: relative;
    margin-right: 30px;
}
.tac, .tac * {
    text-align: center !important;
}
.tal * {
    text-align: left !important;
}
.h20 {
    height: 20px;
    width: 0;
}
.h30 {
    height: 30px;
    width: 0;
}
.bdtb {
    border-top: 1px solid rgb(224, 224, 224) !important;
    border-bottom: 1px solid rgb(224, 224, 224) !important;
}
form p.error, .error {
    padding: 0;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300 !important;
    color: rgb(77, 77, 77);
}

form p.red, .red {
    color: rgb(255, 0, 0)!important; 
}
form p.green, .green {
    color: rgb(8, 145, 8)!important; 
}


input:focus, select:focus {
    outline: none !important;
    border-color: rgb(97, 97, 97) !important;
}


input {
    width: 99%;
    max-width: 100%;
    min-width: 150px;
    height: 35px;
    margin: 0;
    margin-top: 10px;
    padding: 5px 14px;
    color: rgb(87, 87, 87) !important;
    border: 1px solid rgba(192, 196, 198, .7);
    border-radius: 3px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    &[type="text"]:hover {
        cursor: text;
    }
}



.howt {
    position: relative;
    display: inline-block;
    float: right;

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}
.how {
    margin: 19px 0 0 15px;

    &:hover{
        cursor: help;
    }

    &::before {
        content: '\f129';
        font-family: 'FA S';
        color: rgb(37, 37, 37);
    }
}
.howt .tooltiptext {
    visibility: hidden;
    min-width: 180px;
    width: auto;
    position: absolute;
    bottom: 130%;
    left: 50%;
    margin-left: -75px;
    margin-bottom: 10px;
    padding: 5px;
    color: rgb(87, 87, 87) !important;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgba(192, 196, 198, .7);
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}




.incSection {
    width: 100%;
    height: auto;
    min-height: 80px;
    font-size: 12px;
    border: 1px solid rgba(192, 196, 198, .7);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(255, 255, 255);

    &:last-child {
        margin-bottom: 30px;
    }
    
    h2 {
        width: 100%;
        height: 40px;
        font-size: 14px !important;
        font-weight: 500;
        word-break: normal !important;
        color: #fff;
        padding: 12px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background: #fff;
    }
    h2:hover {
        cursor: default;
    }
    .incSectionContent {
    width: 100%;
    height: auto;
    padding: 15px;
    
    }
    .halfSection {
    width: auto;
    max-width: 500px;
    min-width: 250px;
    height: auto;
    min-height: 200px;
    max-height: 500px;
    margin: 0 20px 20px 20px;
    }

    .buttonBuy {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        border-radius: 3px;
        border: none;
        box-shadow: 0 1px 3px 3px rgba(192, 196, 198, .4);
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    .blueButton {
        background: rgb(33, 150, 243) !important;
        
        &:hover, &:focus {
            cursor: pointer !important;
            background: rgb(74, 172, 247) !important;
        }
        &:active {
            box-shadow: 0 1px 8px 5px rgba(192, 196, 198, .7);
        }
    }
    
    .bigButton {
        display: block;
        width: 100% !important;
        min-width: 120px !important;
        line-height: 25px !important;
    }
    .smallButton {
        width: 50px;
    }
    a[class="buttonBuy blueButton bigButton tac"] {
        padding: 10px 175px !important;
    }
}

/*-- ICO Calender BOX CONTENT --*/
.icoLoadBox {
    width: 100%;
    height: auto;
    border: 1px solid rgba(192, 196, 198, .4);
    border-radius: 3px;

    p {
        line-height: 40px;
        color: rgb(97, 97, 97);

        span {
            margin-left: 5px;
            font-weight: bold;
            color: rgb(98, 98, 98);
        }
    }
    
}

    /*-- PROCESS BAR --*/
.processBar {
    width: 96%;
    padding: 0 !important;

    .w3-light-grey {
    width: 100%;
    margin: 10px;
    border-radius: 3px;
    background: rgb(224, 224, 224);

        .w3-container {
            height: 20px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .w3-light-grey {
            background-color: #f1f1f1!important;
        }
        .w3-green{
            background-color: rgb(0, 150, 136) !important;
        }
    }
    .progessBarSoldPresent {
        padding: 0 !important;
        font-size: 12px;
        color: rgb(75, 147, 219);
    }
}





/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 

    
    /* Modal Content/Box */
    .modal-content {
        display: block;
        width: 450px;
        margin: 5px auto; /* 15% from the top and centered */
        border: 1px solid #888;
        background-color: #fefefe;

        #error {
            padding: 0 15px;
        }

        p {
            margin: 15px;
            margin-bottom: 0;
            font-size: 14px;
            text-align: center !important;
            color: rgb(44, 44, 44) !important;
        }
        .pm {
            width: 100%;
            padding: 5px 30px;
            font-family: 'Roboto';
            text-align: right !important;

            span {
                color: rgb(44, 44, 44) !important;
            }
            #it {
                display: inline-block;
                position: relative;
                min-width: 65px;
                width: auto;
                height: 30px;
                top: 10px;
                margin: 0 3px;
                padding: 3px 10px;
                line-height: 23px;
                color: #000 ;
                overflow: hidden;
                border: 1px solid rgba(192, 196, 198, 1);
                border-radius: 3px;
            }
        }
        
        .sumLabel {
            margin: 25px 0 20px 15px;
            width: 80%;
            height: 30px;
            line-height: 30px;
            padding: 3px;
            padding-left: 10px;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 14px;
            color: #000 ;
            border: 1px solid rgba(192, 196, 198, 1);
            border-radius: 3px;

            &:hover {
                cursor: text;
            }
            &:focus {
                outline: none !important;
                border-color: rgb(97, 97, 97) !important;
            }
        }

        .payButton {
            font-weight: bold;
        }
        /* The Close Button */
        .close {
            display: block;
            position: relative;
            margin-bottom: 60px;
            width: 40px;
            height: 40px;
            float: right;
            right: 0;
            top: 0; 
            line-height: 40px;
            text-align: center !important;
            color: #000;
            font-size: 35px;
            font-weight: bold;
            background: rgba(0, 0, 0, 0);
        }

        /* Close button on hover */
        .close:hover,
        .close:focus {
            color: #fefefe;
            cursor: pointer;
            background: rgba(0, 0, 0, .5);
        }
        .cancelbtn, .payButton {
        width: auto;
        margin: 10px;
        padding: 10px 18px;
        border: none;
        outline: none;
        color: #fff !important;
        text-align: center !important;
        cursor: pointer;
        background-color: rgb(244, 67, 54);
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        }
        .cancelbtn:hover {
        opacity: 0.8;
        }
    }
    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }

}









    /*-- GRAM Wallet Addresses BOX CONTENT --*/
.plusNewWallet {
    display: inline-block;
    position: relative;
    top: -30px;
    right: 15px;
    float: right;
    padding-left:10px;
    border-radius: 2px;
    background: rgb(255, 152, 0);

    i {
        color: #fff;
    }

    input {
        margin: 0;
        padding: 4px 3px;
        padding-right: 5px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        border: none;
        background: none;
    }
}
    /*Connected to REFERER SYSTEM Section && TRANSACTION section && LENDING Section && PURCHASE Section*/
.walletsThreeSections, .referersSection, .transactionSection,
.lendingSection, .purchaseSection, .userDatasSecondSection {
    display: flex;
    justify-content: space-around;

    .allWalletThreeSection, .refererFourSection, .transactionSixSection,
    .lendingSixSection, .purchaseSixSection, .userDatasFourSection {
        width: 33.3%;
        height: auto;
        min-height: 30px;
        position: relative;
        
        p:first-child{
            height: 40px;
            line-height: 40px;
            font-weight: bold;
            color: rgb(97, 97, 97);
            border:none;
            border-top: 1px solid rgb(224, 224, 224);
            border-bottom: 1px solid rgb(224, 224, 224);
            background: rgb(245, 245, 245);
        }
        p {
            height: 40px;
            line-height: 40px;
            color: #000;
            border-bottom: 1px solid rgb(224, 224, 224);
        }
        p:last-child {
            border:none;
        }
    }
}
form.walletsSection {  
    
    li{
        display: inline-block;

        .fa-plus, .fa-upload, .fa-download {
            font-size: 12px;
            margin: 0 -10px 0 15px;
        }   

        input {
            margin: 0;
            padding: 0;
            padding: 10px 20px;
            font-weight: bold;
            color: #fff;
            border: none;
            background: none;
        }
        
    }
    li:last-child {
        float: right;
    }

}

    /* PROFILE SECTION */
.gridcontent {

    .gridSection {
        display: inline-flex;
        
    }
    .sL {
        min-width: 800px;
        max-width: 60%;
        width: 60%;
        margin-right: 20px;
    }
    .sR {
        min-width: 400px;
        max-width: 38%;
        width: 38%;
    }
}
.gridcontent1 {
    display: grid;
    /*justify-content: center;*/
    grid-template-columns: /*auto-fill 60% 1fr*/repeat(auto-fill, 800px 1fr);
    grid-gap: 20px;
}
.gridSection1 {
    min-height: 150px;
    
    background: red;
}
.sL1 {
    min-width: 800px;
    max-width: 800px;
}
.sR1 {
    min-width: 300px;
    max-width: 400px;
    background: #000;
}
.userProfileSectionContent {

    form {
        width: 100%;
        min-width: 600px;
        padding: 10px;
        
        .userprofileSectionContent {
            display: inline-block;
            position: relative;
            margin: 0;
            margin-right: 10px;
        }
        p {
            font-size: 18px;
            font-weight: normal;
            color: rgb(33, 33, 33);
        }
        p:hover {
            cursor: default;
        }


        .userDatasSection {
            display: inline-block;
            max-width: 100%;
            width: 99%;
            min-width: 200px;
            
            input:hover {
                cursor: default;
            }
            input:focus, select:focus {
                outline: none !important;
                border-color: rgb(97, 97, 97) !important;
            }

            .formElement {
                margin: 0;
                margin-bottom: 15px;
                padding-left: 25px;

                p {
                    font-size: 18px;
                    font-weight: normal;
                    color: rgb(33, 33, 33);
                }
                input, select {
                    width: 99%;
                    max-width: 100%;
                    min-width: 150px;
                    height: 35px;
                    margin: 0;
                    margin-top: 10px;
                    padding: 5px 14px;
                    color: rgb(87, 87, 87) !important;
                    border: 1px solid rgba(192, 196, 198, .7);
                    border-radius: 3px;
                }
                input:hover {
                    cursor: text;
                }                
            }
        }
        
        button[name="submit"] {
            line-height: 25px !important;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            font-weight: normal;
            border: none;
        }
    }
}


    /* REFERAL SYSTEM SECTION */
.clipboardSection {

    input {
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding-left: 15px;
        font-size: 16px;
        color: rgb(157, 157, 157);
        cursor: text;
        border: 1px solid rgba(192, 196, 198, .7);
        border-radius: 3px;
        background: rgb(236, 236, 236);
    }
    button{
        display: inline-block;
        position: relative;
        top: -50px;
        min-width: 45px;
        width: auto;
        height: 50px;
        padding: 15px;
        line-height: 10x;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        border: none;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: rgb(33, 150, 243);
        box-shadow: 0 1px 2px 1px rgba(192, 196, 198, .4);
        z-index: 2;
    }
    button:hover {
        cursor: pointer;
        background: rgb(74, 170, 247);
        box-shadow: 0 1px 5px 1px rgba(192, 196, 198, .7);
    }

    .tooltip {
        position: relative;
        display: inline-block;
        float: right;
    }
    
    .tooltip .tooltiptext {
        visibility: hidden;
        min-width: 140px;
        width: auto;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 130%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}
.referersSection {

    .refererFourSection {
        width: 25% !important;
        padding: 0;
    }
}
.userDatasSecondSection {
    border-bottom: 1px solid rgb(224, 224, 224);

    .userDatasFourSection {
        width: 25% !important;
        padding: 0;

        p{
            font-weight: normal !important;
            color: #000 !important;
            background: none !important;
        }
    }
    
}
.userDatasSecondSection:last-child {
    border:none !important;
}
.refcounter, .trcounter {
    width: auto;
    min-width: 50px;
    max-width: 250px;
    margin: 30px 0 0 20px;
    padding-left: 15px;
    display: flex;
    color: rgb(157, 157, 157);
    border: 1px solid rgba(192, 196, 198, .7);
    border-radius: 3px;
    background: rgb(236, 236, 236);

    p:first-child {
        font-size: 16px;
    }
    p {
        margin-right: 15px;
        font-size: 18px;
        line-height: 40px;
        cursor: default;
    } 
    p::selection {
        color: rgb(157, 157, 157);
        background: none;
    }   
}




    /* TRANSACTION SECTION Connected to LENDING Section */
.transactionSixSection, .lendingSixSection, .purchaseSixSection {
    width: 16.7% !important;
}
.pm {
    width: 100%;
    padding: 5px 30px;
    font-family: 'Roboto';
    text-align: right !important;

    span {
        color: rgb(44, 44, 44) !important;
    }
    #it {
        display: inline-block;
        position: relative;
        min-width: 65px;
        width: auto;
        height: 30px;
        top: 10px;
        margin: 0 3px;
        padding: 3px 10px;
        line-height: 23px;
        color: #000 ;
        overflow: hidden;
        border: 1px solid rgba(192, 196, 198, 1);
        border-radius: 3px;
    }
}



    /* LENDING SECTION*/
.icoLoadBox {

    p:last-child {
        padding: 15px;
    }
}

    /* PURCASE SECTION */
.purchase {
    overflow: auto; /* Enable scroll if needed */

    
    /* Modal Content/Box */
    .modal-content {

        #error {
            padding: 0 15px;
        }

        p {
            margin: 15px;
            margin-bottom: 0;
            font-size: 14px;
            text-align: center !important;
            color: rgb(44, 44, 44) !important;
        }
        .pm {
            width: 100%;
            padding: 5px 30px;
            font-family: 'Roboto';
            text-align: right !important;

            span {
                color: rgb(44, 44, 44) !important;
            }
            #it {
                display: inline-block;
                position: relative;
                min-width: 65px;
                width: auto;
                height: 30px;
                top: 10px;
                margin: 0 3px;
                padding: 3px 10px;
                line-height: 23px;
                color: #000 ;
                overflow: hidden;
                border: 1px solid rgba(192, 196, 198, 1);
                border-radius: 3px;
            }
        }
        
        .sumLabel {
            margin: 25px 0 20px 15px;
            width: 80%;
            height: 30px;
            line-height: 30px;
            padding: 3px;
            padding-left: 10px;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 14px;
            color: #000 ;
            border: 1px solid rgba(192, 196, 198, 1);
            border-radius: 3px;

            &:hover {
                cursor: text;
            }
            &:focus {
                outline: none !important;
                border-color: rgb(97, 97, 97) !important;
            }
        }
        
        .payButton {
            width: auto;
            margin: 10px;
            padding: 10px 18px;
            border: none;
            outline: none;
            font-weight: bold;
            color: #fff !important;
            cursor: pointer;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
        }
        
    }
}




    /* SETTINGS Section */
.settingsFormElement {
    margin: 0;
    margin-bottom: 15px;

    p {
        font-size: 13px;
        font-weight: bold;
        color: rgb(40, 40, 40);
    }
    input {
        width: 99%;
        max-width: 100%;
        min-width: 150px;
        height: 35px;
        margin: 0;
        margin-top: 5px;
        padding: 5px 14px;
        color: rgb(85, 85, 85) !important;
        border: 1px solid rgba(192, 196, 198, .7);
        border-radius: 3px;
    }
    input:hover {
        cursor: text;
    }
    input:focus {
        outline: none;
        border-color: rgb(97, 97, 97) !important;
    }
    
}
.settingsButton {
    border: none;
}

.userotherDatas {
    font-size: 16px;
    
    color: rgb(33, 33, 33);
    
    p {
        margin: 10px;

        span {
            font-weight: bold;
        }
    }
}