

.navbar-area ul li.active,
.boxed-btn,
.back-to-top,
.about-us .about-img .hover,
.road-map .road-map-wrapper .timeline .item .item-content .content,
.our-team-area .single-team-member .team-content,
.our-team-area .single-team-member .team_img .hover .social,
.testimonial-area .owl-dots div.active,
.blog-section .single-blog-post .thumb .hover,
.blog-section .single-blog-post .boxed-btn:hover,
.navbar-area ul li:hover a,
.contact-section .contact-form-wrapper input[type=submit],
.faq-section .accordion-wrapper .panel-title a,
.faq-section .accordion-wrapper .panel-title a:after,
.subscription-section .subscription-form button[type=submit],
.header-area .header-right-content #clockdiv > div,
.boxed-btn.white.animated-btn:after{
    background-color: #58dce2;
}
/*border color*/
.header-area h1,
.road-map .road-map-wrapper .timeline .item .item-icon,
.testimonial-area .testimonial-carousel .single-testimonial-carousel .author-details .thumbnai img,
.testimonial-area .owl-dots div.active,
.contact-section .contact-form-wrapper input,
.contact-section .contact-form-wrapper textarea,
.subscription-section .subscription-form button[type=submit]{
  border-color: #58dce2;
}
/*box shadow color*/
.about-us .about-img .hover{
  box-shadow: 0 0 5px #58dce2;
}
/* color*/
.about-us .content h2 span,
.what-we-do .single-what-we-do:hover .content h4,
.section-title h2 span,
.contact-section .contact-form-wrapper h2 span,
.faq-section .accordion-wrapper .panel-title a.collapsed,
.faq-section .accordion-wrapper .panel-title a.collapsed:after,
.footer-section .social-links li a:hover,
.what-we-do .single-what-we-do:hover .icon{
  color: #58dce2;
}
/*svg fill color*/
.what-we-do .single-what-we-do:hover .icon .svg{
  fill: #58dce2;
}
/*border right color*/
.road-map .road-map-wrapper .timeline .row:nth-child(odd) .item .item-content .content:after{
  border-right-color: #58dce2;
}
/*border left color*/
.road-map .road-map-wrapper .timeline .row:nth-child(even) .item .item-content .content:after,
.header-right-content{
  border-left-color: #58dce2 !important;
}
.road-map .road-map-wrapper .timeline .item .item-icon{
  box-shadow: 0px 0px 5px 5px #58dce2;
}
/*border left color*/
.blog-section .single-blog-post .thumb img{
  border-bottom-color: #58dce2 !important;
}   
.back-to-top{
  display: none;
}
.header-right-content.full-border{
  border-color:#58dce2;
}
.slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover{
    background-color: #58dce2 !important;
}
.road-map-wrapper .timeline .row:nth-child(2n) .item .item-content .content:after{
	border-right: 10px solid #58dce2 !important;
}